
/* По завершению вёрстки УДАЛИТЬ НЕНУЖНЫЕ ШРИФТЫ */

/* Fonts */
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLightItalic.eot');
    src: local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'),
        url('../fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBoldItalic.eot');
    src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'),
        url('../fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBold.eot');
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
        url('../fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraBold.woff') format('woff'),
        url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Thin.eot');
    src: local('Poppins Thin'), local('Poppins-Thin'),
        url('../fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Thin.woff') format('woff'),
        url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BoldItalic.eot');
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
        url('../fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-BoldItalic.woff') format('woff'),
        url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBoldItalic.eot');
    src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'),
        url('../fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Black.eot');
    src: local('Poppins Black'), local('Poppins-Black'),
        url('../fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ThinItalic.eot');
    src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'),
        url('../fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ThinItalic.woff') format('woff'),
        url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.eot');
    src: local('Poppins Medium'), local('Poppins-Medium'),
        url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLight.eot');
    src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
        url('../fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraLight.woff') format('woff'),
        url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-LightItalic.eot');
    src: local('Poppins Light Italic'), local('Poppins-LightItalic'),
        url('../fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-LightItalic.woff') format('woff'),
        url('../fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.eot');
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-MediumItalic.eot');
    src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'),
        url('../fonts/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-MediumItalic.woff') format('woff'),
        url('../fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.eot');
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light.eot');
    src: local('Poppins Light'), local('Poppins-Light'),
        url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BlackItalic.eot');
    src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
        url('../fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-BlackItalic.woff') format('woff'),
        url('../fonts/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Italic.eot');
    src: local('Poppins Italic'), local('Poppins-Italic'),
        url('../fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Italic.woff') format('woff'),
        url('../fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.eot');
    src: local('Poppins Bold'), local('Poppins-Bold'),
        url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Variables */ 
:root{ 	
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-gray_text: #707070;
	--color-active: #3C82F4;
	--color-buttons_background: #306EF7;
	--color-green_circles: #0FC65C;
	--color-dark-green_circles: #03451e;
	--color-blue_step: #3D82F2;
	--color-blue_logo: #326cf9;
	--color-gray_circles: #2D2D2D;
	--color-gray_home-page_square: #8B8B8B;
	--columns-color: #0D0D0D;
	--green_columns-color: #0FC65C;
	--gray_columns-color: #919191;
	--grau_subtitile-color: #B4B1B1;
	--columns_bg-color: #131313;
	--buttons_border-color: #4681E7;
}	

/* popular styles */
.button_active{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 18px;
	font-weight: 500;
	font-size: 20px;
	color: var(--color-white);
	background: var(--color-buttons_background);
	transition: .2s;
}

.button_active:hover{
	background: var(--color-active);
}

.button_inactive{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--color-gray_text);
	font-weight: 500;
	font-size: 20px;
	border-radius: 18px;
	color: var(--color-gray_text);
	background: var(--color-black);
	transition: .2s;
}

.button_inactive:hover{
	border: 1px solid var(--color-active);
	color: var(--color-active);
}

.common_title{
	font-weight: 600;
	font-size: 75px;
	line-height: 112px;
	color: var(--color-white);
	text-align: center;
}

.common_blue-span{
	color: var(--color-active);
}

.common__text{
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	color: var(--color-gray_text);
}

.step{
	text-align: center;
	font-weight: 600;
	font-size: 25px;
	line-height: 38px;
	color: var(--color-blue_step);
}

.common__supbutton_text {
	display: flex;
	align-items: center;
	margin-top: 21px;
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	color: var(--color-gray_text);
}

.green-circle_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	width: 29px;
	height: 29px;
	border-radius: 50%;
	background: var(--color-dark-green_circles);
}

.common__supbutton_bold{
	margin-right: 9px;
	font-weight: 700;
	color: var(--color-white);
}

.green-circle {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: var(--color-green_circles);
}

body{
	font-family: 'Poppins';
	background: var(--color-black);
}

/* header */
header{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 47px;
	height: 55px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1640px;
}

.header__logo {
	display: flex;
	align-items:center;
}

.header__logo img{
	margin-right: 17px;
	max-width: 100%;
	max-height: 100%;
}

.header__logo_bold {
	font-size: 37px;
	font-weight: 800;
	color: var(--color-white);
	transition: .2s;
}

.header__logo_bold:hover{
	color: var(--color-blue_logo);
}

.header__nav {
	width: 400px;
}

.header_list {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header__link {
	font-weight: 500;
	font-size: 20px;
	color: var(--color-gray_text);
	transition: .2s;
}

.header__link:first-child{
	display: flex;
	align-items: center;
}

.arrow {
	position: relative;
	margin-left: 7px;
}

.arrow-left {
	position: absolute;
	width: 8px;
	height: 1.5px;
	border-radius: 1px;
	transform: rotate(45deg);
}

.arrow-right {
	position: absolute;
	left: 4.7px;
	width: 8px;
	height: 1.5px;
	border-radius: 9px;	
	transform: rotate(-45deg);
}

.hover__stule{
	background: var(--color-gray_text);
}

.header__link:hover{
	color: var(	--color-active);
}

.header__link:hover .hover__stule {
	background: var(--color-active);
}

.header__authorization {
	display: flex;
	align-items: center;
}

.header__login {
	margin-right: 24px;
	font-weight: 500;
	font-size: 20px;
	color: var(--color-gray_text);
	transition: .2s;
}

.header__login:hover{
	color: var(	--color-active);
}

.header__sing-up {
	width: 119px;
	height: 55px;
}

/* footer */
footer {

	padding-top: 188px;
	min-height: 1161px;
}

.footer__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 140px;
}

.footer__logo {
	width: 164px;
	height: 151px;
}

.footer__title{
	margin-top: 20px;
}

.footer__subtitle {
	font-weight: 400;
	font-size: 43px;
	line-height: 64px;
	color: var(--color-white);

}

.footer__button {
	margin-top: 15px;
	width: 472px;
	height: 102px;
}

.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 184px;
	width: 100%;
}

.footer__logo-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer__name {
	font-weight: 800;
	font-size: 42px;
	line-height: 63px;
	color: var(--color-white);
}

.footer__logo_small {
	width: 47.18px;
	height: 51.86px;
	margin-right: 24px;
}

.footer__link {
	font-weight: 400;
	font-size: 27px;
	color: var(--color-gray_text);
	transition: .2s;
}

.footer__link:hover{
	color: var(--color-active);
}

.active-link{
	color: var(--color-active);
}